WEWIRE_API_KEY=
CLERK_SECRET_KEY=sk_test_replace_me
CLERK_PUBLISHABLE_KEY=
DATABASE_URL=postgresql://user:password@host/database?sslmode=require
DATABASE_URL_UNPOOLED=
AGOO_SMS_API_KEY=
AGOO_SMS_SENDER_ID=VENTRAPOS
WEWIRE_WEBHOOK_SECRET=
